.embedded .form-group, .form-group { 
	padding: inherit; 
	width: inherit; 
	box-sizing: inherit; 
	position: inherit; 
	color: inherit; 
	background-color: inherit; 
}
textarea, select, select option, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { 
	background-color: #fff; 
	border: inherit; 
	color: inherit; 
	border-radius: inherit; 
	min-height: 2.5em !important; 
	height: 100% !important; 
	font-size: 15px; 
	line-height: 1.42857143; 
	padding: 7px; 
}
input[type="submit"] { 
	min-height: 2.5em !important; 
	height: 100% !important; 
} 
input.form-control, .form-control { 
	border: 1px solid #ccc; 
	color: #6f6f6f; 
}
.form-horizontal .control-label { 
	font-size: .9em; 
}
.type-radio div:nth-child(2) > label, .type-checkbox div:nth-child(2) > label { 
	font-size: .85em; 
}
.type-radio div:nth-child(2), .type-checkbox div:nth-child(2) { 
	padding: 7px 0 0 21px; 
}
#container .navbar { 
	margin-bottom:0; 
}
.navbar-brand > img { 
	max-width: 30px; 
	margin-right: 10px; 
}
a.navbar-brand { 
	padding: 10px 15px; 
	line-height: 30px; 
	height: 53px; 
}
#postentry .jumbotron h3.page-header { 
	font-size: 32px; 
}
#postentry .jumbotron .panel { 
	background: inherit; 
}
#postentry .panel h3 { 
	margin-bottom: 30px; 
}
Yeti.js
$(function() {
	$( "body" ).append( "<link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'> <link rel='stylesheet' href='//bootswatch.com/yeti/bootstrap.min.css'>" );
	$( "body" ).removeClass( "default offerpage offerz5kada" );
	$( ".views" ).removeClass( "views" ).addClass( "container" );
	$( "#container" ).removeClass( "view overflow" ).addClass( "row" );
	$( "#offer-bar" ).removeClass( "bar" ).addClass( "navbar navbar-default col-md-12" );
	$( "#offer-bar > #sponsor" ).removeClass( "bar-item single" ).addClass( "container-fluid" );
	$( "#offer-bar > #sponsor > .profile" ).removeClass( "profile" ).addClass( "navbar-header" );
	$( "#sponsor .thumb" ).addClass( "navbar-brand" ).append( $( ".name" ) );
	$( ".section-bar" ).removeClass( "section-bar" ).addClass( "page-header col-md-12" ).wrapInner( "<h3 />" );
	$( "#dialog" ).removeClass( "bottom" ).addClass( "row" );
	$( "form" ).removeClass( "form-group" ).addClass( "form-horizontal col-md-12" );
	$( ".input-group" ).removeClass( "input-group" ).addClass( "form-group" );
	$( ".input-label" ).removeClass( "input-label" );
	$( ".form-group > div > label" ).addClass( "col-sm-3 control-label" );
	$( ".inputs" ).removeClass( "inputs" ).addClass( "col-sm-9" );
	$( "input" ).addClass( "form-control" );
	$( "textarea" ).addClass( "form-control" );
	$( "select" ).addClass( "form-control" );
	$( ".type-radio input" ).removeClass( "form-control" );
	$( ".type-checkbox input" ).removeClass( "form-control" );
	$( ".col-sm-9 > label" ).removeClass( "col-sm-3 control-label" ).addClass( "col-sm-12" );
	$( "#actionbutton" ).removeClass( "btn" ).addClass( "btn-inverse btn-lg" );
	$( ".offer-view.no-image" ).removeClass( "offer-view no-image" ).addClass( "jumbotron" );
	$( ".offer-text" ).removeClass( "offer-text" );
	$( ".offer-title" ).removeClass( "offer-title" ).wrapInner( "<h1 />" );
	$( ".offer-description" ).removeClass( "offer-description" ).wrapInner( "<p />" );
	$( ".offer-restrictions" ).removeClass( "offer-restrictions" ).wrapInner( "<small />" );
	$( ".jumbotron" ).append( $("#dialog.sweepstakes") );
  // Post-Entry Page
	  $( "#postentry" ).removeClass( "view" ).addClass( "row" );
	  $( "#postentry .page-header" ).removeClass( "page-header" ).addClass( "jumbotron" );
	  $( ".section.success.extra-entries" ).removeClass( "section success extra-entries" ).addClass( "col-md-12 panel" );
	  $( "#postentry .jumbotron h3" ).addClass( "page-header" );
	  $( ".panel .section-title" ).removeClass( "section-title" ).addClass( "row" ).wrapInner( "<div class='col-md-12'><h3 class='text-primary' /><div>" );
	  $( ".panel .grid" ).removeClass( "grid" ).addClass( "row" );
	  $( ".btn-success" ).removeClass( "btn-success" ).addClass( "btn-primary btn-lg btn-block" ).wrap( "<div class='col-sm-12' />" );
	  $( "#postentry .jumbotron" ).append( $(".panel") );
});